Files/*
waste_files/*
__pycache__/*
venv/*
Files.zip
.idea/*
.idea
__pycache__
venv
Word_analogy/__pycache__
Emoji_predictor/__pycache__
Face_Recog/__pycache__
Image_Classification/__pycache__
Sentiment_Analysis/__pycache__
Titanic_Survivor/__pycache__
odd_one_out/__pycache__
Spam_or_Ham/__pycache__
Gender_Recog/__pycache__
Sudoku_Solver/__pycache__